---
layout: default
title: Blog
---
<section>
  <div class="grid-center">
    <!-- <h2 class="col-4 latest-post"> My Latest Blog </h2>
  </div> -->
  <div class="grid-center-top">
    <div class="col-4 latest-article">
      <h3> The best things about living in KL</h3>
      <p>
        <strong>We moved to KL three years ago, and my first thoughts of leaving Australia for Malaysia were not positive...</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="col-4 latest-image">
      <img src="images/kl.jpg" />
    </div>
  </div>
</section>
<section>
  <div class="grid-center">
    <div class="recent-posts col-6">
      <h2> Recent Posts </h2>
    </div>
  </div>
  <div class="grid-center">
    {% for post in site.posts limit:4 %}
      <div class="post-preview col-4">
        <h3> {{post.title}} </h3>
        <img src="{{post.featured-image}}"/>
        <p> {{post.description}} </p>
        <p> {{post.author}} </p>
        <p> {{post.date | date_to_long_string }} </p>
        <a href="post.url">Read More</a>
      </div>

    {% endfor %}
  </div>
</section>

<!-- <section>

<h2 class="category-posts"> Yoga Posts </h2>
<div class="grid">


{% for post in site.categories.yoga limit:3 %}

<div class="post-preview col-3">

  <h3> {{post.title}} </h3>
  <img src="{{post.featured-image}}"/>
  <p> {{post.description}} </p>
  <p> {{post.author}} </p>
  <p> {{post.date | date_to_long_string }} </p>
  <a href="post.url">Read More</a>

</div>
{% endfor %}
</div>
</section> -->

<!-- <div class="owl-carousel">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>

  replace Your Content with an image source in between each div.
</div> -->
