---
layout: default
title: Blog
---
<section>
<div class="grid-center">
  <div class="recent-posts col-6">
    <h2> Recent Posts </h2>
  </div>

{% for post in site.posts limit:4 %}

<div class="post-preview col-4">

  <h3> {{post.title}} </h3>
  <img src="{{post.featured-image}}"/>
  <p> {{post.description}} </p>
  <p> {{post.author}} </p>
  <p> {{post.date | date_to_long_string }} </p>
  <a href="post.url">Read More</a>

</div>

{% endfor %}

</div>
</section>

<section>

<h2 class="category-posts"> Yoga Posts </h2>
<div class="grid">


{% for post in site.categories.yoga limit:3 %}

<div class="post-preview col-3">

  <h3> {{post.title}} </h3>
  <img src="{{post.featured-image}}"/>
  <p> {{post.description}} </p>
  <p> {{post.author}} </p>
  <p> {{post.date | date_to_long_string }} </p>
  <a href="post.url">Read More</a>

</div>
{% endfor %}
</div>
</section>

<!-- <div class="owl-carousel">
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>
  <div> Your Content </div>

  replace Your Content with an image source in between each div.
</div> -->
