*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

[class*=col-], [class*=col_], [class~=col] {
  padding:none;
}

img{
  max-width:100%;
}

/* -----------------------------universal styles----------------------------*/

body{
  background-color:white;
  font-family: 'Saira Semi Condensed', sans-serif;
}
h1, h2, h3 {
  font-family:'Open Sans', sans-serif;
  text-align:center;
}

h1 {
  color: grey;
  font-size:40px;
  font-weight: bold;
}

h2 {
  color: black;
  font-size: 30px;
  }

h3 {
  color:black;
  font-size:20px;
}

/*section {
  padding: 5%;
}*/

.center {
  text-align: center;
}


/*-------------------------------header sytling-----------------------------*/

nav {
  text-decoration: none;
  font-size: 10px;
  color: grey;
  padding: 2%;
  text-align:right;
  margin-top: 0%;
  margin-bottom: -2%;
}
nav a{
  padding:0 2%;
  color: grey;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing:3px;
  text-decoration: none;
}
nav a:hover {
  color:#C5919D;
  font-weight:bolder;
}

.banner{
  background-size:cover;
  height: 90vh;
}
.headerText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
font-size: 30px;
}

/*---------------------------home page styling----------------------------*/

.about-text h2{
  background-color: #C5919D;
  padding: 3%;
  margin: 5%;
}

.about-text p{
  padding: 1% 8% 1% 8%;
  margin: -2%;
  text-align:center;
}

.circle-thumb {
  height: 22vw;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0;
}

.service-block a{
  text-decoration:none;
}
.circle-thumb h2{
  transition: 2s;
}
.circle-thumb h2:hover{
  color:#C5919D;
  font-weight:bolder;
}

.location-background {
  background-color:#F8EFE4;
  line-height: 2px;
}
/* want to have padding in most sections to have white space on the side of text*/

/*--------------------------------my journey styling*-------------------*/

.journey-header {
  background-color: #C5919D;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
}

.ange-image{
margin-left: 8%;
margin-top: 5%;
}

.boys-paragraph{
margin-left: 3%;
margin-right: 3%;
}

.qual-header {
  background-color: #C5919D;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
}

.qualifications {
  padding:3%;

}

/*background colour for qualifiecations box iwth bullte points
/*padding in this section*/


/*-----------------------classes styling---------------------------*/

/*have padding in this section.*/
.classes{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 20vw;
  margin-bottom: 5%;
  background-position: top;
}

 h3{
  background-color: #C5919D;
  padding: 3%;
}

p{
  padding: 3%;
}

.timetable h3{
  text-align:center;
  background-color: #C5919D;
}
.timetable p{
  text-align: center;
}
.tableBorder{
  border: 1px solid black;
  padding: 0%;
}

.ange-paragraph {
  padding: 6%;
}



/*-----------------------coaching section styling---------------------*/
.coaching-banner {
background-image: url('images/coaching.jpeg');
height: 60vh;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
justify-content: center;
align-items: center;
}
.coaching h2{
  padding-top:5%;
  padding-bottom:5%;
  margin-top: 10%;
  background-color: #C5919D;
}


/*----------------------meditation section styling---------------------*/
.med-banner{
  background-image: url ('images/meditation.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-bottom: 5%;
}

.meditation-header{
  padding: 2%;
  margin-top: 3%;
}

.meditation-paragraph {
  padding 2%
}

/*services section*/

.service-block{
  padding: 5%;
}















/*-------------------------blog post styling-----------------------------------*/
.recent-posts {
  padding: 5%;
}

.post-preview {
  background color: lightgrey;
}

.post-preview h3 {
  text-transform:capitalize;
  padding: 5%;
}

.main-body {
  width: 60%;
}
.side-bar {
  width: 30%;
}

/*------------------------------BURGER MENU STYLING*-------------------------*/

.burger-menu {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #f9f9f9;
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 99999999;
}
.burger-menu a {
  text-decoration: none;
  padding: 15px 11px;
  font-size: 20px;
  font-weight: 300;
  color: #C3BFBC;
  font-family: 'Alegreya Sans SC', sans-serif;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}
.burger-menu li{list-style:none}
/* this is where you style the button if you want to add more space between the spans than add padding to this div but make sure you also add it to the top and bottom active classes on there top/bottom or else your cross wont line up*/
.burger-button {
  position:fixed;
  top: 2vh;
  right: 2vh;
  z-index: 9999999999;
  padding: 8px;
}
/*this is where you can change the color of the buttons*/
.burger-button span{
  width: 25px;
  border: 2px solid black;
  background-color: black;
  display: block;
  border-radius: 22px;
  transition: 2s;
}
.burger-top, .burger-bottom{
  position: absolute;
}
.burger-top{
  top: 02px;
}
.burger-bottom{
  bottom: 02.5px;
}

.active .burger-top{
  transform: rotateZ(45deg);
  top:8px;
}
.active .burger-bottom{
  transform: rotateZ(-45deg);
  bottom:8px;

}
.active .burger-middle{
  opacity: 0;
}


.mob-show{
  display: none;
}

@media all and (max-width:465px){

  .mob-show {
    display: block;
  }

  .mob-hide {
    display:none;
  }

}
